{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <header class="nav-grid">
        <div class="nav-div1">
            <button class="btn btn-sm btn-outline-primary" id="inbox"><b>Inbox</b></button>
            <button class="btn btn-sm btn-outline-primary" id="compose"><b>Compose</b></button>
            <button class="btn btn-sm btn-outline-primary" id="sent"><b>Sent</b></button>
            <button class="btn btn-sm btn-outline-primary" id="archived"><b>Archived</b></button>
            <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}"><b>Log Out</b></a>    
        </div>
        <h2 class="nav-div2">{{ request.user.email }}</h2>  
    </header>
    <hr>
    <div id="emails-view">
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <!-- <p class="pre-filled-body">Only displayed when Reply email</p> -->
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
    <div id="in-email-view">
        <!-- each email is wrapped by a div with id -->
    </div>
    
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}


